.top-nav {
    font-size: 12px;
    font-weight: bold;
    list-style: none;
}
.top-nav li {
    float: left;
    margin-right: 1px;
}
.top-nav li a {
    line-height: 20px;
    text-decoration: none;
    background: #DDDDDD;
    color: #666666;
    display: block;
    width: 80px;
    text-align: left;
}
.top-nav li a:hover {
    background: blue;
    color: white;
}
.top-nav li ul {
    display: none;
    list-style: none;
    padding: 0;
    position: relative;
}
.top-nav li:hover ul {
    display: block;
    width: 80px;
}
.top-nav li:hover ul li ul {
    display: none;
}
.top-nav li ul li:hover ul {
    display: block;
    position: absolute;
    top: 0px;
    left: 80px;
}
.top-nav li:hover ul li ul li ul {
    display: none;
    list-style: none;
    padding: 0;
    position: relative;
}
.top-nav li ul li ul li:hover ul {
    /* display: block;
    position: absolute;
    top: 0px;
    left: 80px; */
    /* bottom: 160px; */
    display: block;
    /* width: 80px; */
}